.workspace-row {
  color: #f5f5f5;
  background-color: #171717;
  border-radius: 6px;
  height: 60px;
  padding-top: 8px;
}

.icon-avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #a8a29e;
}

.page-tab-active {
  background-color: #04D939;
}